<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <title>Stylist Me!</title>
    </head>
    <body>
        <div class="container">

            <div class="row" align="center">
                <h1>{{ stylist.getStylistName }}</h1>
            </div>

            <div class="row" align="center">
                    {% if clients is not empty %}
                    <p>Here are {{ stylist.getStylistName }}'s clients:</p>

                        {% for client in clients %}
                            <h4>{{client.getName }}</h4>

                        {% endfor %}
                    {% endif %}

                <h2>Add a Client</h2>

                <div class="form-group">
                    <form action="/clients" method="post">
                        <input id="stylist_id" type="hidden" name="stylist_id" value="{{ stylist.getId }}">

                        <label for="name">Client name:</label>
                        <input type="text" name="name" class="form-control" id="name">

                    </br>
                        <button type="submit" class="btn btn-info">Add Client</button>
                    </form>
                    <form action="/delete_clients" method="post">
                        <button type="submit" class="btn btn-danger">Delete Clients</button>
                    </form>
                </div>
                <p><a href="/stylists/{{ stylist.getId }}/edit">Edit this stylist's information</a></p>
                <p><a href="/">Home</a></p>
            </div>
        </div>
    </body>
</html>
